@media only screen and (max-width: 992px) and (min-width: 768px) {
    .select-input input {
    	width: 74%;
    }
}
@media only screen and (max-width: 1199px) and (min-width: 993px) {
    .select-input input {
    	width: 80%;
    }
}
@media only screen and (max-width: 767px) and (min-width: 320px) {
    .select-input input {
    	width: 100%;
    }
    .select-input select{
    	margin-top: 12px;
    }
}